# Logistic Regression Consulting Project

## Binary Customer Churn

Create a machine learning model that will help predict which customers will churn (stop buying their service).

The data is saved as customer_churn.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
Once you've created the model and evaluated it, test out the model on some new data (you can think of this almost like a hold-out set) that your client has provided, saved under new_customers.csv. The client wants to know which customers are most likely to churn given this data (they don't have the label yet).

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('logregproject').getOrCreate()

In [15]:
df = spark.read.csv('9.3.customer_churn.csv', header=True, inferSchema=True)

In [16]:
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [7]:
df.head(5)

[Row(Names='Cameron Williams', Age=42.0, Total_Purchase=11066.8, Account_Manager=0, Years=7.22, Num_Sites=8.0, Onboard_date=datetime.datetime(2013, 8, 30, 7, 0, 40), Location='10265 Elizabeth Mission Barkerburgh, AK 89518', Company='Harvey LLC', Churn=1),
 Row(Names='Kevin Mueller', Age=41.0, Total_Purchase=11916.22, Account_Manager=0, Years=6.5, Num_Sites=11.0, Onboard_date=datetime.datetime(2013, 8, 13, 0, 38, 46), Location='6157 Frank Gardens Suite 019 Carloshaven, RI 17756', Company='Wilson PLC', Churn=1),
 Row(Names='Eric Lozano', Age=38.0, Total_Purchase=12884.75, Account_Manager=0, Years=6.67, Num_Sites=12.0, Onboard_date=datetime.datetime(2016, 6, 29, 6, 20, 7), Location='1331 Keith Court Alyssahaven, DE 90114', Company='Miller, Johnson and Wallace', Churn=1),
 Row(Names='Phillip White', Age=42.0, Total_Purchase=8010.76, Account_Manager=0, Years=6.71, Num_Sites=10.0, Onboard_date=datetime.datetime(2014, 4, 22, 12, 43, 12), Location='13120 Daniel Mount Angelabury, WY 30645-4695', Company='Smith Inc', Churn=1),
 Row(Names='Cynthia Norton', Age=37.0, Total_Purchase=9191.58, Account_Manager=0, Years=5.56, Num_Sites=9.0, Onboard_date=datetime.datetime(2016, 1, 19, 15, 31, 15), Location='765 Tricia Row Karenshire, MH 71730', Company='Love-Jones', Churn=1)]

In [18]:
df.describe(['Age', 'Total_Purchase', 'Account_Manager' ,'Years', 'Num_Sites', 'Churn']).show()

+-------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+
|summary|              Age|   Total_Purchase|   Account_Manager|            Years|         Num_Sites|              Churn|
+-------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+
|  count|              900|              900|               900|              900|               900|                900|
|   mean|41.81666666666667|10062.82403333334|0.4811111111111111| 5.27315555555555| 8.587777777777777|0.16666666666666666|
| stddev|6.127560416916251|2408.644531858096|0.4999208935073339|1.274449013194616|1.7648355920350969| 0.3728852122772358|
|    min|             22.0|            100.0|                 0|              1.0|               3.0|                  0|
|    max|             65.0|         18026.01|                 1|             9.15|              14.0|                  1|
+-------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+

Drop columns: 
* Names
* Onboard_date
* Location

What are the unique values in `Company` column?

In [9]:
df.groupBy('Company').count().show() # Too many to keep as a categorical variable

+--------------------+-----+
|             Company|count|
+--------------------+-----+
|Miller, Johnson a...|    1|
|Hunter, Reyes and...|    1|
|          Obrien PLC|    1|
|            Soto PLC|    2|
|            Todd LLC|    1|
|Smith, Marshall a...|    1|
|           Smith PLC|    1|
|          Hall Group|    1|
|Freeman, Lam and ...|    1|
|       Smith-Carroll|    1|
|Hall, Hernandez a...|    1|
|          Cannon Inc|    1|
|        White-Dennis|    1|
|Wilson, Collins a...|    1|
|Jennings, Gates a...|    1|
|     Campbell-Willis|    1|
|    Martinez-Roberts|    1|
|        Robinson PLC|    1|
|          Barton Inc|    1|
|Hernandez, Middle...|    1|
+--------------------+-----+
only showing top 20 rows

In [20]:
df = df.select(['Age', 'Total_Purchase', 'Account_Manager', 'Years',
               'Num_Sites', 'Churn']).na.drop()

In [19]:
from pyspark.ml.feature import VectorAssembler

In [22]:
assembler = VectorAssembler(inputCols = ['Age', 'Total_Purchase', 'Account_Manager', 'Years','Num_Sites'],
                           outputCol = 'features')

In [23]:
df_final = assembler.transform(df).select(['features', 'churn'])

#### Train-test split

In [24]:
df_train, df_test = df_final.randomSplit([0.7, 0.3])

#### Fit the model

In [11]:
from pyspark.ml.classification import LogisticRegression

In [26]:
log_reg = LogisticRegression(featuresCol='features', labelCol='churn').fit(df_train)

#### Evaluate model

In [27]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [30]:
results = log_reg.evaluate(df_test)
results.predictions.show()

+--------------------+-----+--------------------+--------------------+----------+
|            features|churn|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[26.0,8939.61,0.0...|    0|[6.57222106259870...|[0.99860326620654...|       0.0|
|[28.0,9090.43,1.0...|    0|[1.47382101848123...|[0.81363746741713...|       0.0|
|[28.0,11128.95,1....|    0|[4.11993957064344...|[0.98401420111652...|       0.0|
|[28.0,11204.23,0....|    0|[1.91302528853749...|[0.87135864194435...|       0.0|
|[29.0,8688.17,1.0...|    1|[2.68364769246941...|[0.93605480821618...|       0.0|
|[29.0,9378.24,0.0...|    0|[4.92529146926706...|[0.99279172673222...|       0.0|
|[29.0,11274.46,1....|    0|[4.43990357898604...|[0.98834047238192...|       0.0|
|[29.0,13240.01,1....|    0|[6.65662281532263...|[0.99871616998577...|       0.0|
|[30.0,6744.87,0.0...|    0|[3.71109032741632...|[0.97613272582286...|       0.0|
|[30.0,8403.78,1.0...|    0|[5.96726796407309...|[0.99744531389728...|       0.0|
|[30.0,8677.28,1.0...|    0|[4.15411847400896...|[0.98454304375284...|       0.0|
|[30.0,13473.35,0....|    0|[2.76020115198819...|[0.94048689375868...|       0.0|
|[31.0,5304.6,0.0,...|    0|[3.66686185260187...|[0.97508031655578...|       0.0|
|[31.0,9574.89,0.0...|    0|[3.43335608179948...|[0.96873088809341...|       0.0|
|[31.0,10058.87,1....|    0|[4.43367045833297...|[0.98826842542913...|       0.0|
|[31.0,11297.57,1....|    1|[0.86676446894446...|[0.70407200557995...|       0.0|
|[32.0,8011.38,0.0...|    0|[2.16769960025609...|[0.89731119259402...|       0.0|
|[32.0,8617.98,1.0...|    1|[1.00986952815527...|[0.73299461491250...|       0.0|
|[32.0,9036.27,0.0...|    0|[-0.1318821919362...|[0.46707715686651...|       1.0|
|[32.0,9885.12,1.0...|    1|[1.73462604944599...|[0.85000318671450...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [28]:
eval = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='churn')

In [31]:
eval.evaluate(results.predictions)

0.7149369941604343

#### Predict on holdout data

In [32]:
df_new_customers = spark.read.csv('9.4.new_customers.csv', header=True, inferSchema=True)

In [33]:
df_new_customers.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)

In [34]:
df_new_test = assembler.transform(df_new_customers)

In [35]:
df_new_test

DataFrame[Names: string, Age: double, Total_Purchase: double, Account_Manager: int, Years: double, Num_Sites: double, Onboard_date: timestamp, Location: string, Company: string, features: vector]

In [36]:
final_results = log_reg.transform(df_new_test)

In [37]:
final_results.show()

+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+--------------------+--------------------+----------+
|         Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|         Company|            features|       rawPrediction|         probability|prediction|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+--------------------+--------------------+----------+
| Andrew Mccall|37.0|       9935.53|              1| 7.71|      8.0|2011-08-29 18:37:54|38612 Johnny Stra...|        King Ltd|[37.0,9935.53,1.0...|[2.20771177061235...|[0.90093989603208...|       0.0|
|Michele Wright|23.0|       7526.94|              1| 9.28|     15.0|2013-07-22 18:19:54|21083 Nicole Junc...|   Cannon-Benson|[23.0,7526.94,1.0...|[-6.2123952258813...|[0.00200042094046...|       1.0|
|  Jeremy Chang|65.0|         100.0|              1|  1.0|     15.0|2006-12-11 07:48:13|085 Austin Views ...|Barron-Robertson|[65.0,100.0,1.0,1...|[-3.5162704030739...|[0.02885281703774...|       1.0|
|Megan Ferguson|32.0|        6487.5|              0|  9.4|     14.0|2016-10-28 05:32:13|922 Wright Branch...|   Sexton-Golden|[32.0,6487.5,0.0,...|[-4.8867017767368...|[0.00748975107113...|       1.0|
|  Taylor Young|32.0|      13147.71|              1| 10.0|      8.0|2012-03-20 00:36:46|Unit 0789 Box 073...|        Wood LLC|[32.0,13147.71,1....|[0.98971677249527...|[0.72903197598436...|       0.0|
| Jessica Drake|22.0|       8445.26|              1| 3.46|     14.0|2011-02-04 19:29:27|1148 Tina Straven...|   Parks-Robbins|[22.0,8445.26,1.0...|[-1.7142190420229...|[0.15261728705003...|       1.0|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+--------------------+--------------------+----------+

In [39]:
final_results.select(['Company', 'prediction']).show()

+----------------+----------+
|         Company|prediction|
+----------------+----------+
|        King Ltd|       0.0|
|   Cannon-Benson|       1.0|
|Barron-Robertson|       1.0|
|   Sexton-Golden|       1.0|
|        Wood LLC|       0.0|
|   Parks-Robbins|       1.0|
+----------------+----------+

Ok! That is it! Now we know that we should assign Account Managers to Cannon-Benson,Barron-Robertson,Sexton-GOlden, and Parks-Robbins!